<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>333642839545-porn4o3j7htmvv02l0nhtd7m0omucbae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333642839545-porn4o3j7htmvv02l0nhtd7m0omucbae</string>
	<key>API_KEY</key>
	<string>AIzaSyDYpdoR4-8biJaI7m7QX9mdn-d-0PwQQ3U</string>
	<key>GCM_SENDER_ID</key>
	<string>333642839545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studioatx.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-3ac9e</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-3ac9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333642839545:ios:814bf73f22b76a60</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-3ac9e.firebaseio.com</string>
</dict>
</plist>